html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    

}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
}

header {
    background-color: rgb(21, 34, 34);
    color: gold;
    text-shadow: 1px 1px black;
    text-align: center;

}



/* div {
    border: solid 1px black;      
} */

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #222255;
    opacity: 10;
    color: #eeeeee;

}



.container {
    width: 55%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.count {
   display: flex;
   justify-content: space-around;
   height: 15%;
   align-items: end;
}

span {
    font-size: 30px;
}

.cards {
 display: flex;
 justify-content: space-around;
 height: 65%;


}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 40px;
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15%;
}

.choice {
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 20px;
    background-color: #5555ff;
    color: white;
}


footer {
    background-color: black;
    height: 30px;
}